<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <style type="text/css">

.tv-promo__media {
    left: 50%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    </style>
</head>
<body>
<div class="tv-package__promo">
<div class="tv-promo tv-promo--positive-theme">
<div class="tv-promo__media" style="width: 267.048%;">
<div class="mt_video-wrapper">
<div id="topTexturalPlayer" class="mt_video-player ngs-video landscape fix-aspect-ratio" >
<video id="topTexturalPlayer-player" class="mv_textural" poster="https://www.nationalgeographic.com/" autoplay="" loop="">
<source  src="../static/video/OneStrangeRock.mp4">
</video></div></div></div>
<div class="tv-promo__content"><div class="tv-promo__overlay"></div>
<div class="tv-promo__kicker"><a target="_self">New Series</a></div>
<h4 class="tv-promo__title"><a target="_self">One Strange Rock</a></h4>
<div class="tv-promo__description"><p>There’s no place like home. Hosted by Will Smith, One Strange Rock reveals the twists of fate that allow life to thrive on Earth.</p>
</div><a class="mt_fill_btn mt_fill_btn--primary--inverse mt_fill_btn--primary mt_fill_btn--large mt_fill_btn--link" href="https://www.nationalgeographic.com/tv/one-strange-rock/" target="_self"><div class="fillOne"></div><div class="fillTwo"></div><div class="content">
<div class="mt_iconandlabel--horizontal"><span>Watch the Full Season</span></div></div></a></div></div></div>
</body>
</html>